@import 'antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lora:wght@500&display=swap');
#root{
    height: 100%;
}

.quote{
    font-family: 'Lobster', cursive; 
    font-size: 20px;
    font-weight: 500;
}

.f-lora{
    font-family: 'Lora', serif;
}
.f-3{
    font-size: medium !important;
}
.banner-heading{
    color: #6a7bff !important;
    font-size: 4rem !important;
    font-family: 'Lora', serif;
}

.site-layout{
    min-height: 100%;
    width: 100%;
}
.center-text{
    text-align: center;
}

.circle-wrapper{
    position: absolute;
    height: calc(100% - 10vw);
    width: calc(100% - 10vw);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-item{
    position: absolute;
}

/* 12em = half the width of the wrapper */
.deg0 { transform: rotate(-50deg) translate(10em) rotate(40deg);; } 
.deg30 { transform: rotate(0deg) translate(10em) rotate(-4deg); }
.deg60 { transform: rotate(50deg) translate(10em) rotate(0deg); }
.deg120 { transform: rotate(120deg) translate(10em) rotate(-135deg); }
.deg180 { transform: rotate(225deg) translate(10em) rotate(-225deg); }
.deg270 { transform: rotate(180deg) translate(10em) rotate(-200deg); }

.d-flex{
    display: flex;
}

.j-center{
    justify-content: center;
}

.j-between{
    justify-content: space-between;
}

.a-center{
    align-items: center;
}

.tag-item, .tag-heading{
    font-size: 1.1rem;
    padding: 5px;
    margin: 8px;
    word-wrap: normal   ;
}

.tag-item{
    background-color: #dcdde454;
    border-radius: 5px;
}

.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.mt-2{
    margin-top: 2rem;
}

.bg-white{
    background-color: #fff;
}

.bg-primary-gradient{
    background-color: #fcfcfc;
}

.float-tag{
    position: absolute;
}

.float-tag-deg0{
    transform: rotate(-20deg) translate(15em) rotate(20deg);
}

.float-tag-deg60{
    transform: rotate(30deg) translate(12em) rotate(-30deg);
}

.float-tag-deg120{
    transform: rotate(205deg) translate(18em) rotate(-205deg);
}

.float-tag-deg180{
    transform: rotate(140deg) translate(15em) rotate(-140deg);
}

.bg-gradient{
    background: rgb(134,147,253);
    background: linear-gradient(180deg, rgba(134,147,253,1) 0%, rgba(134,147,253,1) 75%, rgba(134,147,253,.6) 100%);
}

.steps-content {
    min-height: 200px;
    margin-top: 16px;
    padding-top: 80px;
    text-align: center;
    background-color: #fafafa;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;
  }
  
  .steps-action {
    text-align: right;
    margin-top: 24px;
  }

  .dynamic-delete-button {
    position: relative;
    top: 4px;
    margin: 0 8px;
    color: #999;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .dynamic-delete-button:hover {
    color: #777;
  }
  .dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .logo{
    
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }